<angular>
  <article>
    <header>
      <h2>404 - Pagina niet gevonden</h2>
    </header>
    <section>
      <p>Goed verhaal, lekker kort.</p>
      <figure>
        <img src="resources/img/dumb.gif" alt="Dumb">
      </figure>
    </section>
  </article>
</angular>