<angular>
  <article>
    <header>
      <h2>Opleiding</h2>
    </header>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, pariatur, autem sed sunt libero iusto a enim dolorem nulla officiis.</p>
      <p><button><a href="#opleiding_visieenbeleid">Visie & beleid</a></button></p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, pariatur, autem sed sunt libero iusto a enim dolorem nulla officiis.</p>
      <p><button><a href="#opleiding_opbouwstudieprogramma">Opbouw studieprogramma</a></button></p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, pariatur, autem sed sunt libero iusto a enim dolorem nulla officiis.</p>
      <p><button><a href="#opleiding_competenties">Competenties</a></button></p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, pariatur, autem sed sunt libero iusto a enim dolorem nulla officiis.</p>
      <p><button><a href="#opleiding_diploma">Diploma</a></button></p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, pariatur, autem sed sunt libero iusto a enim dolorem nulla officiis.</p>
      <p><button><a href="#opleiding_beroepen">Beroepen</a></button></p>
    </section>
  </article>
</angular>