<angular>
  <article>
    <header>
      <h2>Aanmelden</h2>
    </header>
    <section>
      <p>Van plan om binnekort een project te starten? Zie je een mogelijkheid om studenten bij dit project te betrekken?</p>
      <p><button><a href="#registreren_project">Aanmelden voor een project</a></button></p>
    </section>
    <section>
      <p>Heb je een innoverend bedrijf en plekken voor studenten (stage) over?</p>
      <p><button><a href="#registreren_stagebedrijf">Aanmelden als stagebedrijf</a></button></p>
    </section>
  </article>
</angular>