<angular>
  <article>
    <header>
      <h2>Over de opleiding</h2>
    </header>
    <p>De opleiding Communication & Multimedia Design (CMD) Amsterdam leert studenten alles over het ontwerpen van online interactieve media. Dit betekent het begrijpen, bedenken en maken van interactieve media zoals websites, mobiele applicaties en interactieve televisie. Bij het ontwerpen van interactieve media staat de mens centraal. Niet alleen als eindgebruiker van een toepassing maar ook in de context van zijn leefomgeving. Studenten doen toegepast onderzoek en leren hun ontwerpen te testen op usability, gebruikersbehoefte en meetbare eindresultaten. Ze leren werken in multidisciplinaire projectteams aan opdrachten voor echte projectpartners.</p>
    <p>De <a href="https://cmd.dmci.hva.nl/NL/Paginas/1314/Propedeuse/Propedeuse.aspx">vakken</a> gaan over interactie & strategie, -design, - techniek en -cultuur. In de vakken leren studenten te denken en te handelen als een ontwerper. Hiervoor leren ze naast ‘ontwerpen’ ook ‘maken’, ‘onderzoeken’, ‘projectmanagen’ en ‘adviseren’. Studenten kunnen met behulp van keuzevakken, stages en minoren zelf richting geven aan hun opleiding. Na hun afstuderen komen studenten te werken in de creatieve industrie, gericht op de sector ‘nieuwe media’. Het werkveld waarin de interactieve media ontwerper zich begeeft is sterk in ontwikkeling. De opleiding houdt hier met een flexibel curriculum rekening mee en door met (keuze)vakken en projecten in te springen op nieuwe ontwikkelingen.</p>
    <figure>
      <video controls>
        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm">
        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg">
        <track kind="subtitles" label="English" src="http://developer.longtailvideo.com/trac/export/2584/trunk/jw6/test/assets/captions/bunny-en.vtt" srclang="en"></track>
        <p>Je browser ondersteunt helaas geen <code>video</code> element. <a href="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4">Klik hier om de video alsnog te bekijken.</a></p>
      </video>
      <figcaption>Awesome Big Buck Bunny video</figcaption>
    </figure>
    <h3>Ontwerp opleiding voor Interactieve Media</h3>
    <p>CMD Amsterdam stelt ontwerpen centraal in de opleiding. Zij wil studenten leren te denken als een ontwerper en opleiden tot interactieve media ontwerpers met een goede aansluiting op de huidige én de toekomstige beroepspraktijk.</p>
    <blockquote>CMD Amsterdam is een ontwerpopleiding die studenten opleidt om te denken als een ontwerper bij het ontwikkelen van interactieve toepassingen.</blockquote>
    <p>CMD Amsterdam gelooft in het 'human centered' ontwerpproces. Wij zien een steeds grotere rol weggelegd voor ontwerpers die in staat zijn om te kijken naar de menselijke kant van interactieve media. In onze visie ontwikkelt de 'human centered' aanpak zich steeds meer naar het bestuderen van de mens in zijn sociale en maatschappelijke context als aanleiding voor en onderbouwing van interactieve media concepten. Daarnaast blijft het belangrijk om te kijken naar de mens op het moment dat hij in aanraking komt met interactieve media, zijn gedrag serieus te nemen en te verwerken in het ontwerpproces. CMDA ziet dan ook een meerwaarde in het inbedden van toegepast onderzoek en prototyping in het curriculum en wil studenten hierin helpen en stimuleren.</p>
    <blockquote>Bij CMD Amsterdam staat de mens centraal, niet alleen als eindgebruiker van een ontwikkelde toepassing maar ook als mens met sociaal-maatschappelijke context. <a href="https://cmd.dmci.hva.nl/">Zie opbouw studieprogramma</a>.</blockquote>
    <p>CMD Amsterdam heeft een kernprogramma dat alle studenten moeten volgen. De propedeuse is opgebouwd uit 12 kernvakken en 3 projecten. In de jaar 2 en 3 kunnen studenten, naast een kernprogramma, een set profileringsvakken kiezen. Hiermee kunnen ze zich in meer of mindere mate richten op een van de vijf beroepen waar de opleiding voor opleidt.</p>
  </article>
  <article>
    <header>
      <h2>Studieprogramma</h2>
    </header>
    <section>
      <p>Het studieprogramma is ingedeeld in drie fasen:</p>
      <ol>
        <li>Propedeusefase</li>
        <li>Hoofdfase</li>
        <li>Afstudeerfase</li>
      </ol>
    </section>
    <p>De propedeusefase is voor alle studenten gelijk - je maakt kennis met het brede vakgebied van interactieve media en je werkt dat jaar al aan 3 echte projecten. Het tweede en derde studiejaar is gericht op verdieping in digitaal ontwerp, digitale techniek, online strategie en digitale cultuur. In het afstudeerjaar werk je zelfstandig aan je vaardigheden in een stage bij een bedrijf. In je afstudeerproject laat je zien dat je een toepassing kan bedenken en bouwen voor een groep gebruikers waar je eerst onderzoek naar hebt gedaan. Dit kan uit eigen beweging of bij een bedrijf.</p>
    <p><button><a href="https://cmd.dmci.hva.nl/NL/Paginas/1314/Propedeuse/Propedeuse.aspx">Opbouw studieprogramma</a></button></p>
  </article>
  <article>
    <header>
      <h2>Beroepen</h2>
      <p>Waar leiden we voor op?</p>
    </header>
    <figure>
      <img src="resources/img/beroepen.jpg" alt="De beroepen">
      <figcaption>De beroepen binnen CMD</figcaption>
    </figure>
    <p>Studenten kunnen na deze opleiding aan het werk in een grote diversiteit aan beroepen in het interactieve media werkveld. Tijdens de opleiding kunnen zij zich – naast het generieke kernprogramma – middels de profileringsvakken individueel ontwikkelen.</p>
    <section>
      <p>Afgestudeerde studenten komen daarmee in aanmerking voor o.a. de volgende vijf beroepen:</p>
      <ol>
        <li>Visual Interface Designer</li>
        <li>Frontend Developer</li>
        <li>Projectmanager</li>
        <li>Contentmanager</li>
        <li>Interaction Designer</li>
      </ol>
    </section>
    <p>Mocht je als aankomend student meer willen weten of contact op willen nemen met een afgestudeerde studenten? Neem <a href="https://cmd.dmci.hva.nl/">contact</a> met ons op.</p>
    <section>
      <p>Uitstroomberoepen:</p>
      <ol>
        <li><a href="https://cmd.dmci.hva.nl/">Frontend developer</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Visual designer</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Interaction designer</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Content manager</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Project manager</a></li>
      </ol>
    </section>
  </article>
</angular>