aside {
  width:300px;
  position: fixed;
  top: 150px;
  right: 0;
  bottom: 35px;
  overflow-y:scroll;
  margin-right: -270px;
  padding: 56px 30px 40px 30px;
  border-left: 1px solid #eee;
  background-color:#1fac62;
  -webkit-transition: margin .3s, background .3s;
     -moz-transition: margin .3s, background .3s;
      -ms-transition: margin .3s, background .3s;
       -o-transition: margin .3s, background .3s;
          transition: margin .3s, background .3s;
}

.no-touch aside:hover,
.touch aside.hover {
  margin-right:0;
  background-color: #fafafa;
}

aside h2 {
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom:20px;
  border-bottom:1px solid #ccc;
}

aside h2:first-child {
  margin-top: 0;
}

aside h2,
aside h2 a {
  color:#1fac62;
  text-decoration: none;
}

aside section {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

aside section h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

aside section p {
  line-height:1.6em;
}

aside section > p > time:first-of-type {
  color:#aaa;
  font-size:14px;
}

aside section > p > span:first-of-type {
  font-size:14px;
  display: inline-block;
  width:145px;
}

aside section > p > span:first-of-type,
aside section > p > span:first-of-type a {
  color:#aaa;
}

aside section > p > span:first-of-type:before {
  content: '-';
  display:inline-block;
  margin-right: .3em;
}

aside section > p > a:last-of-type {
  color:#1fac62;
  text-decoration: none;
}

aside section > p > a:last-of-type:after {
  content: '>';
  margin-left: .3em;
}

aside section > header p,
aside section > header p a {
  color:#aaa;
  font-size:14px;
}

@media (max-width: 760px) {
  aside {
    top: 100px;
  }
}