body > footer {
  position: fixed;
  left:0;
  right:0;
  bottom: 0;
  margin-bottom: -383px;
  height: 420px;
  background-color: #f2f2f2;
  min-height:5px;
  font-size:12px;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-transition: margin .3s;
     -moz-transition: margin .3s;
      -ms-transition: margin .3s;
       -o-transition: margin .3s;
          transition: margin .3s;
}

.no-touch body > footer:hover,
.touch body > footer.hover {
  margin-bottom:0;
}

body > footer section {
  width:1024px;
  padding:10px 30px;
  margin: 0 auto;
  position: relative;
}

body > footer ul {
  list-style: none;
}

body > footer ul li {
  display: inline-block;
  margin-right:30px;
}

body > footer button {
  color:#1a1a1a;
  text-transform: uppercase;
  float: right;
  border:0;
  background: none;
  -webkit-transition:color .2s ease, background-image .2s ease;
  transition:color .2s ease, background-image .2s ease;
  padding-right:30px;
  background-image:url(../../img/arrow-down.png);
  background-repeat:no-repeat;
  -webkit-background-size:20px 10px;
  background-size:20px 10px;
  background-position: top right 0;
  cursor: pointer;
}

body > footer section > ul:nth-of-type(2) {
  margin-top: 20px;
}

body > footer section > ul:nth-of-type(2) li {
  margin: 0;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(1),
body > footer section > ul:nth-of-type(2) > li:nth-of-type(4) {
  clear: left;
  display: block;
  width: 100%;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(2),
body > footer section > ul:nth-of-type(2) > li:nth-of-type(3) {
  float: left;
  display: block;
  width: 50%;
}

body > footer section > ul:nth-of-type(2) > li > span {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  color: #ccc;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(1) > ul {
  font-size: 0;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(1) > ul > li {
  width: 20%;
  vertical-align: top;
  font-size: 12px;
  line-height: 1.6em;
}

body > footer section > ul:nth-of-type(2) > li p {
  line-height: 1.6em;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(1) > ul > li > span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 3px;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(1) {
  height: 150px;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(2) > ul > li {
  display: block;
  line-height: 1.6em;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(2) > ul > li > span {
  display: inline-block;
  width: 80px;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(3) {
  padding-left: 20px;
}

body > footer section > ul:nth-of-type(2) > li:nth-of-type(4) {
  padding-top: 20px;
}

@media (max-width:1024px) {
  footer > section {
    width: 100%;
  }
}