body > header {
  background-color: #fafafa;
  border-bottom:1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
  max-height:0;
  opacity:0;
  overflow: hidden;
  -webkit-transition:max-height .8s, margin .8s;
     -moz-transition:max-height .8s, margin .8s;
      -ms-transition:max-height .8s, margin .8s;
       -o-transition:max-height .8s, margin .8s;
          transition:max-height .8s, margin .8s;
}

body > header[loaded] {
  max-height:280px;
}

body > header > section {
  width:1024px;
  height: 150px;
  padding:30px;
  margin: 0 auto;
  position: relative;
}

body > header > section a,
body > header > section {
  color:#1a1a1a;
}


body > header > section > h1 {
  font-size:26px;
  font-family: 'Poiret One', cursive;
}

body > header > section > p {
  font-size:14px;
  font-weight: 300;
}

body > header > section > nav {
  position: absolute;
  bottom: 20px;
}

.fb-like.fb_iframe_widget {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.touch .fb-like.fb_iframe_widget {
  display: none !important;
}

@media (max-width: 1024px) {
  body > header > section {
    width: 100%;
  }
}

@media (max-width: 880px) {
  .no-touch .fb-like.fb_iframe_widget {
    display: none !important;
  }
}

@media (max-width: 760px) {
  body > header {
    margin-top:-180px;
  }

  body > header > section {
    padding-top: 204px;
    height: 280px;
  }

  .no-touch body > header:hover,
  .touch body > header.hover {
    margin-top:0;
  }
}

@media (max-width: 530px) {
  body > header > section > h1 {
    font-size:16px;
  }
  body > header > section > p {
    font-size: 12px;
  }
}