body > header nav {
  text-transform: uppercase;
}

body > header nav ul {
  list-style: none;
}

body > header nav li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  padding-bottom:10px;
}

body > header nav li:last-of-type {
  margin-right: 0;
}

body > header nav a {
  text-decoration: none;
  -webkit-transition:color .3s ease, background .3s ease;
  transition:color .3s ease, background .3s ease;
  display:inline-block;
  width:100%;
}

body > header nav > ul > li[state = active] > a,
body > header nav a:hover {
  color:#1fac62;

}

body > header nav li ul + a {
  background-image:url(../../img/arrow-down.png);
  background-repeat: no-repeat;
  background-position: top 8px right;
  background-size:14px 7px;
  padding-right:25px;
}

body > header nav li:hover ul + a {
  background-image:url(../../img/arrow-down-hover.png);
  color:#1fac62;
}

@media (max-width: 760px) {
  body > header nav {
    top: 30px;
  }

  body > header nav li {
    display: block;
  }
}