body > footer {
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  background-color: #f2f2f2;
  min-height:5px;
  font-size:12px;
}

body > footer section {
  width:1024px;
  padding:10px 30px;
  margin: 0 auto;
  position: relative;
}

body > footer ul {
  list-style: none;
}

body > footer ul li {
  display: inline-block;
  margin-right:30px;
}

body > footer button {
  color:#1a1a1a;
  text-transform: uppercase;
  float: right;
  border:0;
  background: none;
  -webkit-transition:color .2s ease, background-image .2s ease;
  transition:color .2s ease, background-image .2s ease;
  padding-right:30px;
  background-image:url(../../img/arrow-up.png);
  background-repeat:no-repeat;
  -webkit-background-size:20px 10px;
  background-size:20px 10px;
  background-position: top right 0;
  cursor: pointer;
}

body > footer button:hover {
  background-image:url(../../img/arrow-up-hover.png);
  color:#1fac62;
}

@media (max-width:1024px) {
  footer > section {
    width: 100%;
  }
}