body > header {
  background-color: #fafafa;
  border-bottom:1px solid #eee;
  position: fixed;
  left: 0;
  right: 0;
  z-index:1;
  max-height:0;
  opacity:0;
  overflow: hidden;
  -webkit-transition:max-height .8s ease;
  transition:max-height .8s ease;
}

body > header[loaded] {
  max-height:120px;
}

body > header > section {
  width:1024px;
  padding:30px;
  margin: 0 auto;
  position: relative;
}

body > header > section a,
body > header > section {
  color:#1a1a1a;
}


body > header > section > h1 {
  font-size:26px;
  font-weight: normal;
  font-family: 'Poiret One', cursive;
}

body > header > section > p {
  font-size:14px;
  font-weight: 300;
}

body > header > section > nav {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

@media (max-width:1024px) {
  body > header > section {
    width:100%;
  }
}