nav li ul {
  width: 190px;
  max-height:0;
  overflow: hidden;
  margin-left:-60px;
  background-color:#1fac62;
  padding-left:20px;
  padding-right:20px;
  top:43px;
  position: absolute;
  margin-top:-10px;
  -webkit-transition:max-height .3s ease, padding .3s ease, opacity .3s ease;
  transition:max-height .3s ease, padding .3s ease, opacity .3s ease;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.1);
}

nav li figure {
  width:20px;
  height: 10px;
  position: absolute;
  top: 16px;
  left: 35px;
  pointer-events:none;
  -webkit-transition:opacity .3s ease;
  transition:opacity .3s ease;
}

nav li figure > img {
  width: 100%;
  height: 100%;
}

nav li ul,
nav li figure {
  opacity:0;
}

nav li:hover ul {
  opacity: 1;
  padding:20px;
  max-height:90px;
}

nav li:hover figure {
  opacity: 1;
}

nav li ul li {
  margin-left:0;
  display: block;
}

nav li ul li a {
  -webkit-transition:margin .2s ease;
  transition:margin .2s ease;
  color:#fff;
}

nav li ul li:hover a {
  color:#fff;
  margin-left:5px;
}