<video controls>
  <source src="source/big_buck_bunny.mp4" type="video/mp4">
  <source src="source/big_buck_bunny.ogv" type="video/ogg">
  <source src="source/big_buck_bunny.webm" type='video/webm; codecs="vp8, vorbis"'>
  <track label="English subtitles" kind="subtitles" srclang="en" src="source/big_buck_bunny.vtt" default>
</video>