<angular>
  <article>
    <header>
      <h2>Registreren</h2>
      <p>Als stagebedrijf</p>
    </header>
    <p>De studenten lopen stage in het tweede en afstudeerjaar. Biedt of stageplekken? Of bent u geinteresseerd in samenwerken met CMD Amsterdam? Dat kan! Tijdens de opleiding werken studenten aan <a href="#registreren_project">projecten</a> voor echte opdrachtgevers.</p>
    <blockquote><p>CMD Amsterdam zoekt altijd naar positieve verbindingen met de creatieve stad Amsterdam.</p></blockquote>
    <p>Voor het aanmelden van stageplekken kunt u onderstaand formulier invullen. Wij nemen zo nodig contact met u op nadat het formulier is verstuurd. Voor vragen of opmerkingen kunt u <a href="https://cmd.dmci.hva.nl/">contact</a> met ons op.</p>
    <form name="register">
      <fieldset>
        <legend>Contactgegevens</legend>
        <ul>
          <li><label for="register-contact-name">Naam</label><input type="text" name="contact-name" id="register-contact-name" placeholder="Vereist" required></li>
          <li><label for="register-contact-company">Bedrijf</label><input type="text" name="contact-company" id="register-contact-company"></li>
          <li><label for="register-contact-address">Adres</label><input type="text" name="contact-address" id="register-contact-address"></li>
          <li><label for="register-contact-postalcode">Postcode</label><input type="text" name="contact-postalcode" id="register-contact-postalcode"></li>
          <li><label for="register-contact-city">Plaats</label><input type="text" name="contact-city" id="register-contact-city"></li>
          <li><label for="register-contact-phonenumber">Telefoon</label><input type="tel" name="contact-phonenumber" id="register-contact-phonenumber"></li>
          <li><label for="register-contact-emailadress">E-mailadres</label><input type="email" name="contact-emailadress" id="register-contact-emailadress" placeholder="Vereist" required></li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Stage</legend>
        <ul>
          <li>
            <label>Geschikt voor...</label>
            <ul>
              <li><input type="radio" id="register-stage-studentyear-second" name="stage-studentyear" value="2" required><label for="register-stage-studentyear-second">Tweedejaars studenten</label></li>
              <li><input type="radio" id="register-stage-studentyear-fourth" name="stage-studentyear" value="4"><label for="register-stage-studentyear-fourth">Afstudeer studenten</label></li>
              <li><input type="radio" id="register-stage-studentyear-unknown" name="stage-studentyear" value=""><label for="register-stage-studentyear-unknown">Onbekend</label></li>
            </ul>
          </li>
          <li>
            <label>Hoe lang is de stage?</label>
            <ul>
              <li><input type="radio" id="register-stage-durationweeks-ten" name="stage-durationweeks" value="10" required><label for="register-stage-durationweeks-ten">10 Weken</label></li>
              <li><input type="radio" id="register-stage-durationweeks-twenty" name="stage-durationweeks" value="20"><label for="register-stage-durationweeks-twenty">20 Weken</label></li>
            </ul>
          </li>
          <li><label>Beschrijving van werkzaamheden</label><textarea name="stage-proceedings-description" id="register-stage-proceedings-description" cols="30" rows="10" placeholder="Vereist" required></textarea>
          </li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Beschrijving stagebedrijf</legend>
        <ul>
          <li><label for="register-stage-companydetails-name">Bedrijfsnaam</label><input type="text" name="stage-companydetails-name" id="register-stage-companydetails-name" placeholder="Vereist" required></li>
          <li><label for="register-stage-companydetails-address">Bedrijfsnaam</label><input type="text" name="stage-companydetails-address" id="register-stage-companydetails-address" placeholder="Vereist" required></li>
          <li><label for="register-stage-companydetails-postalcode">Postcode</label><input type="text" name="stage-companydetails-postalcode" id="register-stage-companydetails-postalcode" placeholder="Vereist" required></li>
          <li><label for="register-stage-companydetails-city">Plaats</label><input type="text" name="stage-companydetails-city" id="register-stage-companydetails-city" placeholder="Vereist" required></li>
          <li><label for="register-stage-companydetails-sector">Sector</label><input type="text" name="stage-companydetails-sector" id="register-stage-companydetails-sector" placeholder="Vereist" required></li>
          <li><label for="register-stage-companydetails-corebusiness">Core business</label><textarea name="stage-companydetails-corebusiness" id="register-stage-companydetails-corebusiness" cols="30" rows="10" placeholder="Vereist" required></textarea></li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Opmerking</legend>
        <ul>
          <li><label for="register-stage-comment">Opmerkingen of vragen</label><textarea name="stage-comment" id="register-stage-comment" cols="30" rows="10"></textarea></li>
      </fieldset>
      <button>Verzenden</button>
    </form>
  </article>
</angular>