.fed-btn {
  padding: 8px 14px;
  margin: 0;
  border: none;
  background-color: #b9b9b9;
  border-radius: 4px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.fed-btn:hover {
  background-color: #a2a2a2;
}

.fed-btn-primary {
  background-color: #3481df;
}

.fed-btn-primary:hover {
  background-color: #2d71c3;
}