<angular>
  <article>
    <header>
      <h2>Registreren</h2>
      <p>Voor een project</p>
    </header>
    <p>Bent u geinteresseerd in samenwerken met CMD Amsterdam? Dat kan! Tijdens de opleiding werken studenten aan projecten voor echte opdrachtgevers. Ook lopen de studenten <a href="#registreren_stagebedrijf">stage</a>, in het tweede en afstudeerjaar.</p>
    <blockquote><p>CMD Amsterdam zoekt altijd naar positieve verbindingen met de creatieve stad Amsterdam.</p></blockquote>
    <p>Voor het aanmelden van projecten kunt u onderstaand formulier invullen. Wij nemen zo nodig contact met u op nadat het formulier is verstuurd. Voor vragen of opmerkingen kunt u <a href="https://cmd.dmci.hva.nl/">contact</a> met ons op.</p>
    <form name="register">
      <fieldset>
        <legend>Contactgegevens</legend>
        <ul>
          <li><label for="register-contact-name">Naam</label><input type="text" name="contact-name" id="register-contact-name" placeholder="Vereist" required></li>
          <li><label for="register-contact-company">Bedrijf</label><input type="text" name="contact-company" id="register-contact-company"></li>
          <li><label for="register-contact-address">Adres</label><input type="text" name="contact-address" id="register-contact-address"></li>
          <li><label for="register-contact-postalcode">Postcode</label><input type="text" name="contact-postalcode" id="register-contact-postalcode"></li>
          <li><label for="register-contact-city">Plaats</label><input type="text" name="contact-city" id="register-contact-city"></li>
          <li><label for="register-contact-phonenumber">Telefoon</label><input type="tel" name="contact-phonenumber" id="register-contact-phonenumber"></li>
          <li><label for="register-contact-emailadress">E-mailadres</label><input type="email" name="contact-emailadress" id="register-contact-emailadress" placeholder="Vereist" required></li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Project</legend>
        <ul>
          <li><label for="register-project-title">Titel</label><input type="text" name="project-title" id="register-project-title" placeholder="Vereist" required></li>
          <li><label for="register-project-missiondescription">Opdrachtomschrijving</label><textarea name="project-missiondescription" id="register-project-missiondescription" cols="30" rows="10" placeholder="Vereist" required></textarea></li>
          <li><label for="register-project-targetgroupdescription">Doelgroepomschrijving</label><textarea name="project-targetgroupdescription" id="register-project-targetgroupdescription" cols="30" rows="10" placeholder="Vereist" required></textarea></li>
          <li><label for="register-project-goaldescription">Doelstelling/intentie van het project</label><textarea name="project-goaldescription" id="register-project-goaldescription" cols="30" rows="10" placeholder="Vereist" required></textarea></li>
          <li><label for="register-project-duration">Looptijd</label><input type="range" min="1" max="20" ng-init="register_project_duration=4" ng-model="register_project_duration" name="project-duration" id="register-project-duration" placeholder="Vereist" required><rangevalue>{{register_project_duration}} weken</rangevalue></li>
          <li><label for="register-project-deadline">Deadline</label><input type="date" name="project-deadline" id="register-project-deadline" placeholder="Vereist" required></li>
          <li>
            <label for="">Geschikt voor...</label>
            <ul>
              <li><input type="radio" id="register-project-studentyear-first" name="project-studentyear" value="1" required><label for="register-project-studentyear-first">Eerstejaars studenten</label></li>
              <li><input type="radio" id="register-project-studentyear-second" name="project-studentyear" value="2"><label for="register-project-studentyear-second">Tweedejaars studenten</label></li>
              <li><input type="radio" id="register-project-studentyear-third" name="project-studentyear" value="3"><label for="register-project-studentyear-third">Derdejaars studenten</label></li>
              <li><input type="radio" id="register-project-studentyear-fourth" name="project-studentyear" value="4"><label for="register-project-studentyear-fourth">Afstudeer studenten</label></li>
              <li><input type="radio" id="register-project-studentyear-unknown" name="project-studentyear" value=""><label for="register-project-studentyear-unknown">Onbekend</label></li>
            </ul>
          </li>
          <li><label for="register-project-comment">Comment</label><textarea name="project-comment" id="register-project-comment" cols="30" rows="10"></textarea></li>
      </fieldset>
      <button>Verzenden</button>
    </form>
  </article>
</angular>