<angular>
  <article>
    <header>
      <h2>Beroepen</h2>
      <p>Waar leiden we voor op?</p>
    </header>
    <p>Studenten kunnen na deze opleiding aan het werk in een grote diversiteit aan beroepen in het interactieve media werkveld. Tijdens de opleiding kunnen zij zich – naast het generieke kernprogramma – middels de profileringsvakken individueel ontwikkelen.</p>
    <section>
      <p>Afgestudeerde studenten komen daarmee in aanmerking voor o.a. de volgende vijf beroepen:</p>
      <ol>
        <li>Visual Interface Designer</li>
        <li>Frontend Developer</li>
        <li>Projectmanager</li>
        <li>Contentmanager</li>
        <li>Interaction Designer</li>
      </ol>
    </section>
    <p>Mocht je als aankomend student meer willen weten of contact op willen nemen met een afgestudeerde studenten? Neem <a href="https://cmd.dmci.hva.nl/">contact</a> met ons op.</p>
    <section>
      <p>Uitstroomberoepen:</p>
      <ol>
        <li><a href="https://cmd.dmci.hva.nl/">Frontend developer</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Visual designer</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Interaction designer</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Content manager</a></li>
        <li><a href="https://cmd.dmci.hva.nl/">Project manager</a></li>
      </ol>
    </section>
    <figure>
      <img src="resources/img/beroepen.jpg" alt="De beroepen">
      <figcaption>De beroepen binnen CMD</figcaption>
    </figure>
  </article>
</angular>