<angular>
  <article>
    <header>
      <h2>Diploma</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, aliquid recusandae quia sint mollitia reprehenderit enim necessitatibus impedit eius. Architecto, at ratione quibusdam temporibus ex libero fugit assumenda sapiente possimus sit nam nostrum asperiores eius. Debitis commodi soluta deserunt voluptates quisquam sequi minima optio. Eum dignissimos doloremque dicta nobis aspernatur.</p>
  </article>
</angular>