<angular>
  <article>
    <header>
      <h2>Opbouw studieprogramma</h2>
    </header>
    <section>
      <p>Het studieprogramma is ingedeeld in drie fasen:</p>
      <ol>
        <li>Propedeusefase</li>
        <li>Hoofdfase</li>
        <li>Afstudeerfase</li>
      </ol>
    </section>
    <p>De propedeusefase is voor alle studenten gelijk - je maakt kennis met het brede vakgebied van interactieve media en je werkt dat jaar al aan 3 echte projecten. Het tweede en derde studiejaar is gericht op verdieping in digitaal ontwerp, digitale techniek, online strategie en digitale cultuur. In het afstudeerjaar werk je zelfstandig aan je vaardigheden in een stage bij een bedrijf. In je afstudeerproject laat je zien dat je een toepassing kan bedenken en bouwen voor een groep gebruikers waar je eerst onderzoek naar hebt gedaan. Dit kan uit eigen beweging of bij een bedrijf.</p>
    <p><button><a href="https://cmd.dmci.hva.nl/NL/Paginas/1314/Propedeuse/Propedeuse.aspx">Opbouw studieprogramma</a></button></p>
  </article>
</angular>